<!DOCTYPE html>
<html>
<head>
    <title>Celebrate Pride</title>
    <link rel="icon" href="../resources/favicon.png" />
    <link rel="stylesheet" href="css/celebratePride.css" />
</head>


<body>
    <div class="uploadContainer">
1        <input type="file" class="fileUpload"/>
    </div>
    <div class="imageContainer">
        <img id="pridifyImage" class="pridefyImage" src="" />
    </div>

    <div class="pridifyButtonContainer">
        <button id="pridifyButton" class="pridifyButton" value="pridify">Pridify</button>
        <button id="saveImageButton" class="saveImageButton">Save Image</button>
    </div>

    <script type="text/javascript" src="js/jquery/jquery.js"></script>
    <script type="text/javascript" src="js/celebratePride.js"></script>
    <script type="text/javascript" src="js/pridefy/prideify.min.js"></script>
</body>
</html>