<!DOCTYPE html>
<html>
<head>
    <title>Celebrate Pride</title>
    <link rel="icon" href="../resources/images/favicon.png" />
    <script src="js/jquery/jquery.js"></script>
    <link rel="stylesheet" href="css/celebratePride.css" />

</head>


<body>
    <div id="holder">
        <div class="uploadContainer"><h3><i>Drag and drop your photo.</i></h3></div>
    </div>

    <div class="pridifyButtonContainer">
        <button id="pridifyButton" class="pridifyButton" value="pridify">Pridify</button>
        <button id="saveImageButton" class="saveImageButton">Save Image</button>
    </div>

    <script type="text/javascript" src="js/jquery/jquery.js"></script>
    <script type="text/javascript" src="js/celebratePride.js"></script>
    <script type="text/javascript" src="js/pridefy/prideify.min.js"></script>
</body>
</html>